<!DOCTYPE html>
<html lang="en">
  <head>
      
                <% include ./partials/head.ejs %>
              
    <title>Summary of Requests</title>
  </head>
  <body>
        <% include ./partials/nav.ejs %>
    <h5>Order Summary</h5>
    <p><%=foundOrder.location%></p>
    <p>Dr. <%=foundOrder.firstName%> <%=foundOrder.lastName%></p>
    
      <p>Phone: <%=foundOrder.phone%></p>
    
    
        
        <form action="/request/<%=foundOrder.id; %>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE" />
          </form>
          
      <hr/>
          <div class="form-group row">
                        <div class="form-group row">
                                
<table>
                
        <tr>
          <th>Items</th>
          <th>Quantity</th>
        </tr>
        <tr>
            <td>Saline Bags</td>
            <td><%=foundOrder.saline_bags%></td>
          
        </tr>
      
      <tr>
            <td>Tape</td>
            <td><%=foundOrder.tape%></td>
          
        </tr><tr>
                <td>Bandages: 4x4</td>
                <td><%=foundOrder.bandages_4x4%></td>
              
        </tr><tr>
            <td>Bandages: 6x9</td>
            <td><%=foundOrder.bandages_6x9%></td>
                  
        </tr><tr>
            <td>Bandages: 2x2</td>
            <td><%=foundOrder.bandages_2x2%></td>
          
        </tr><tr>
            <td>IV Supplies</td>
            <td><%=foundOrder.iv_supplies%></td>
              
        </tr><tr>
             <td>Gauze</td>
            <td><%=foundOrder.gauze%></td>
                  
        </tr><tr>
                <td>RX: Benznidazole</td>
                <td><%=foundOrder.benznidazole%></td>
              
        </tr></table></div>
        <div class="form-group row" id='gutterspace'>
        <table>
                        <tr>
                          <th>Items</th>
                          <th>Quantity</th>
                        </tr>
        <tr>

                <td>Aspirin</td>
                <td><%=foundOrder.aspirin%></td>
        </tr><tr>
                <td>Oral Gluscose</td>
                <td><%=foundOrder.gluscose%></td>
                      
        </tr><tr>
                <td>RX: Albuterol</td>
                <td><%=foundOrder.albuterol%></td>
              
        </tr><tr>
                <td>RX: Fexinidazole</td>
                <td><%=foundOrder.Fexinidazole%></td>
                  
        </tr><tr>
                 <td>RX: Rifampicin</td>
                <td><%=foundOrder.rifampicin%></td>
                      
        </tr><tr>
                <td>RX: ASMQ</td>
                <td><%=foundOrder.ASMQ%></td>
                      
        </tr><tr>
                <td>RX: NECT</td>
                <td><%=foundOrder.NECT%></td>
                          
        </tr>
            </table> 
        </div >
        <a href="/request/new"
          ><button type="button" name="button" class="btn btn-primary btn-sm">
            New Order
          </button></a
        >
        </div>
        <hr/>
      </body>
    </html>
    <footer>
    <% include ./partials/footer.ejs %>
    </footer>
  </body>
</html>
